section.container {
    row-gap: 24px;
}

.card-white {
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 16px rgba(132, 189, 0, 0.6);
    border-radius: 8px;
    padding: 32px;
}

main.container{
    row-gap: 2rem;
}