<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heltfit - the ultimate app for staying healthy.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/planboard.css">
</head>

<body onload="handleSelectPlanChange()">
    <header>
        <div class="container">
            <nav class="container">
                <a th:href="@{/plan}"><img src="image/icon/back-button.png" alt="back button"></a>
                <form th:action="@{/logout}" method="post">
                    <button><img src="image/icon/logout-1.png" alt="logout button"></button>
                </form>
            </nav>
            <section class="page-heading">
                <p>Create a plan and / or activate one.</p>
                <form th:action="@{/createPlan}" method="post" th:object="${plan}" class="container-col">
                    <input type="text" size="8" style="padding: 12px 16px;" th:field="*{planname}" placeholder="plan name">
                    <input type="submit" value="Create">
                </form>
                <form th:action="@{/activatePlan}" method="post" th:object="${plan}" class="container-col">
                    <select id="userplan-select" th:field="*{planid}" aria-placeholder="select a plan">
                        <option th:each="plan : ${userPlans}" th:value="${plan.planid}" th:text="${plan.planname}">No Plan
                        </option>
                    </select>
                    <input type="submit" value="Choose">
                </form>
            </section>
        </div>
    </header>
    <main>
        <section class="tab-heading">
            <span id="meal-tab-button" class="tab-button-selected">Meal</span>
            <span id="exercise-tab-button">Exercise</span>
        </section>
        <section>
            <div class="container">
                <section class="container plan-panel">
                    <!-- <section class="container plan-panel-dashboard">
                        <div>
                            <span style="font-size: max(8px, 12px); color:var(--secondary-color-1)">active plan</span>
                            <span
                                style="font-size: max(12px, 16px); color:var(--primary-color-1); font-weight: 500;">heltfit</span>
                        </div>
                        <div id="planboard-plan-period-picker">
                            <div><img src="image/icon/ep_sunrise.png" alt=""></div>
                            <div><img src="image/icon/sunshine.png" alt=""></div>
                            <div><img src="image/icon/Vector.png" alt=""></div>
                        </div>
                    </section> -->
                    <!-- <section class="plan-item">
                        <div>
                            <img src="image/icon/07_00.png" alt="">
                        </div>
                        <div>
                            <h4>Bread & Tea</h4>
                            <p>Portion: <span>5 slice of bread</span></p>
                            <a th:href="@{/features}"><span>view full recipe</span></a>
                        </div>
                    </section> -->
                    <section>
                        <form th:action="@{/saveMeal}" method="post" th:object="${meal}" id="meal-form"
                            class="container">
                            <input type="text" th:field="*{mealname}" placeholder="meal name" required />
                            <input type="time" th:field="*{mealtime}" placeholder="time" min="07:00" max="11:59"
                                value="07:00" />
                            <input type="text" th:field="*{mealdesc}" placeholder="description" />
                            <input type="hidden" th:field="*{mealplanid}" />
                            <input type="submit" id="save-plan-btn" value="Save" disabled>
                        </form>
                        <form th:action="@{/saveExercise}" method="post" th:object="${exercise}" id="exercise-form"
                            class="container hide">
                            <input type="text" th:field="*{exercisename}" placeholder="exercise name" required />
                            <input type="time" th:field="*{exercisetime}" placeholder="time" min="07:00" max="11:59"
                                value="07:00">
                            <input type="text" th:field="*{exercisedesc}" placeholder="description">
                            <input type="hidden" th:field="*{exerciseplanid}" />
                            <input type="submit" id="save-exercise-btn" value="Save" disabled>
                        </form>
                    </section>
                </section>
            </div>
        </section>
    </main>
    <script>
        let meal_planid = document.getElementById('mealplanid');
        let exercise_planid = document.getElementById('exerciseplanid');
        let userplan = document.getElementById('userplan-select');
        let save_plan_btn = document.getElementById('save-plan-btn');
        let save_exercise_btn = document.getElementById('save-exercise-btn');
        let meal_tab_button = document.getElementById('meal-tab-button');
        let exercise_tab_button = document.getElementById('exercise-tab-button');
        let meal_form = document.getElementById('meal-form');
        let exercise_form = document.getElementById('exercise-form');

        function handleSelectPlanChange() {
            meal_planid.value = userplan.value;
            exercise_planid.value = userplan.value
            if (userplan.value.length > 1) {
                save_plan_btn.disabled = false;
                save_exercise_btn.disabled = false;
            }
        }

        userplan.addEventListener('change', () => {
            handleSelectPlanChange();
        });

        meal_tab_button.addEventListener('click', () => {
            console.log('meal')
            if (exercise_tab_button.classList.contains('tab-button-selected')) {
                exercise_tab_button.classList.remove('tab-button-selected');
                meal_tab_button.classList.add('tab-button-selected');
                exercise_form.classList.add('hide');
                meal_form.classList.remove('hide');
            }
        });
        exercise_tab_button.addEventListener('click', () => {
            console.log('exercise')
            if (meal_tab_button.classList.contains('tab-button-selected')) {
                meal_tab_button.classList.remove('tab-button-selected');
                exercise_tab_button.classList.add('tab-button-selected');
                meal_form.classList.add('hide');
                exercise_form.classList.remove('hide');
            }
        });
    </script>
</body>

</html>