<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heltfit - the ultimate app for staying healthy.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/planboard.css">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a th:href="@{/}"><img src="image/icon/back-button.png" alt="back button"></a>
                <form th:action="@{/logout}" method="post">
                    <button><img src="image/icon/logout-1.png" alt="logout button"></button>
                </form>
            </nav>
            <!-- <section class="page-heading">
                <h1>Welcome, highly favored one!</h1>
                <p>Please ensure to follow your plan for today</p>
            </section> -->
        </div>
    </header>
    <main>
        <section class="tab-heading">
            <span>Meal</span>
            <span class="tab-button-selected">Exercise</span>
        </section>
        <section>
            <div class="container">
                <section class="container plan-panel">
                    <section class="container plan-panel-dashboard">
                        <div>
                            <span style="font-size: max(8px, 12px); color:var(--secondary-color-1)">active plan</span>
                            <span
                                style="font-size: max(12px, 16px); color:var(--primary-color-1); font-weight: 500;">heltfit</span>
                        </div>
                        <div id="planboard-plan-period-picker">
                            <div><img src="image/icon/ep_sunrise.png" alt=""></div>
                            <div><img src="image/icon/sunshine.png" alt=""></div>
                            <div><img src="image/icon/Vector.png" alt=""></div>
                        </div>
                    </section>
                    <section class="plan-item">
                        <div>
                            <img src="image/icon/07_00.png" alt="">
                        </div>
                        <div>
                            <h4>Yoga</h4>
                            <p>Duration: <span>15 minutes</span></p>
                        </div>
                    </section>
                    <section class="plan-item plan-desc" style="justify-content: start;">
                        <div><span>Steps</span></div>
                        <ul>
                            <li>
                                <div></div>
                                <div>Start by doing a light warm up
                                of the muscles.</div>
                            </li>
                            <li>
                                <div></div>
                                <div>End by doing a light warm down.</div>
                            </li>
                        </ul>
                    </section>
                </section>
            </div>
        </section>
    </main>
</body>

</html>