<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
    <title>Heltfit - the ultimate app for staying healthy.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/planboard.css">
    <script src="https://kit.fontawesome.com/0fa94578a2.js"
        crossorigin="anonymous"></script>
</head>

<body onload="handleSelectPlanChange()">
    <header>
        <div class="w-full flex flex-col items-center">
            <nav class="w-full flex justify-between bg-[#061A40] text-white items-center h-16 px-6">
                <a th:href="@{/plan}" class="text-sm px-4 py-2 w-fit border border-white rounded-md"> 
                    <i class="fa-solid fa-arrow-left text-white"></i>
                    back</a>
                <form th:action="@{/logout}" method="post">
                    <button><i class="material-icons text-white">logout</i></button>
                </form>
            </nav>
            <section class="md:max-w-[920px] w-full flex flex-col md:flex-row gap-4 rounded-md shadow-lg p-8">
                <div>
                    <h2 class="font-bold text-3xl">Create a plan and / or activate one.</h2>
                    <p class="hidden md:block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, praesentium!</p>
                </div>
                <div class=" flex flex-col gap-4">
                    <form th:action="@{/createPlan}" class="flex flex-col gap-2" method="post" th:object="${plan}">
                        <input type="text" class="px-3 py-3 rounded-md w-full" th:field="*{planname}" placeholder="plan name">
                        <input type="submit" value="Create" class="w-full rounded-md">
                    </form>
                    <form th:action="@{/activatePlan}" class="flex flex-col gap-2" method="post" th:object="${plan}">
                        <select id="userplan-select" class="px-3 py-3 rounded-md w-full" th:field="*{planid}" aria-placeholder="select a plan">
                            <option th:each="plan : ${userPlans}" th:value="${plan.planid}" th:text="${plan.planname}">No Plan
                            </option>
                        </select>
                        <input type="submit" value="Choose" class="w-full rounded-md">
                    </form>
                </div>
            </section>
        </div>
    </header>
    <main>
        <section class="tab-heading">
            <span id="meal-tab-button" class="tab-button-selected">Meal</span>
            <span id="exercise-tab-button">Exercise</span>
        </section>
        <section>
            <div class="container">
                <section class="container plan-panel">
                    <!-- <section class="container plan-panel-dashboard">
                        <div>
                            <span style="font-size: max(8px, 12px); color:var(--secondary-color-1)">active plan</span>
                            <span
                                style="font-size: max(12px, 16px); color:var(--primary-color-1); font-weight: 500;">heltfit</span>
                        </div>
                        <div id="planboard-plan-period-picker">
                            <div><img src="image/icon/ep_sunrise.png" alt=""></div>
                            <div><img src="image/icon/sunshine.png" alt=""></div>
                            <div><img src="image/icon/Vector.png" alt=""></div>
                        </div>
                    </section> -->
                    <!-- <section class="plan-item">
                        <div>
                            <img src="image/icon/07_00.png" alt="">
                        </div>
                        <div>
                            <h4>Bread & Tea</h4>
                            <p>Portion: <span>5 slice of bread</span></p>
                            <a th:href="@{/features}"><span>view full recipe</span></a>
                        </div>
                    </section> -->
                    <section>
                        <form th:action="@{/saveMeal}" method="post" th:object="${meal}" id="meal-form"
                            class="container">
                            <input type="text" th:field="*{mealname}" placeholder="meal name" class="px-3 py-3 rounded-md w-full" required />
                            <input type="time" th:field="*{mealtime}" placeholder="time" class="px-3 py-3 rounded-md w-full"/>
                            <textarea th:field="*{mealdesc}" placeholder="description" class="px-3 py-3 resize-none rounded-md" cols="30" rows="10"></textarea>
                            <input type="hidden" th:field="*{mealplanid}" />
                            <input type="submit" id="save-plan-btn" class="px-3 py-3 rounded-md w-full" value="Save" disabled>
                        </form>
                        <form th:action="@{/saveExercise}" method="post" th:object="${exercise}" id="exercise-form"
                            class="container hide">
                            <input type="text" th:field="*{exercisename}" placeholder="exercise name" class="px-3 py-3 rounded-md w-full" required />
                            <input type="time" th:field="*{exercisetime}" placeholder="time" class="px-3 py-3 rounded-md w-full" required>
                            <textarea th:field="*{exercisedesc}" placeholder="description" class="px-3 py-3 rounded-md" cols="30" rows="10"></textarea>
                            <input type="hidden" th:field="*{exerciseplanid}" />
                            <input type="submit" id="save-exercise-btn" class="px-3 py-3 rounded-md w-full" value="Save" disabled>
                        </form>
                    </section>
                </section>
            </div>
        </section>
    </main>
    <script>
        let meal_planid = document.getElementById('mealplanid');
        let exercise_planid = document.getElementById('exerciseplanid');
        let userplan = document.getElementById('userplan-select');
        let save_plan_btn = document.getElementById('save-plan-btn');
        let save_exercise_btn = document.getElementById('save-exercise-btn');
        let meal_tab_button = document.getElementById('meal-tab-button');
        let exercise_tab_button = document.getElementById('exercise-tab-button');
        let meal_form = document.getElementById('meal-form');
        let exercise_form = document.getElementById('exercise-form');

        function handleSelectPlanChange() {
            meal_planid.value = userplan.value;
            exercise_planid.value = userplan.value
            if (userplan.value.length > 1) {
                save_plan_btn.disabled = false;
                save_exercise_btn.disabled = false;
            }
        }

        userplan.addEventListener('change', () => {
            handleSelectPlanChange();
        });

        meal_tab_button.addEventListener('click', () => {
            console.log('meal')
            if (exercise_tab_button.classList.contains('tab-button-selected')) {
                exercise_tab_button.classList.remove('tab-button-selected');
                meal_tab_button.classList.add('tab-button-selected');
                exercise_form.classList.add('hide');
                meal_form.classList.remove('hide');
            }
        });
        exercise_tab_button.addEventListener('click', () => {
            console.log('exercise')
            if (meal_tab_button.classList.contains('tab-button-selected')) {
                meal_tab_button.classList.remove('tab-button-selected');
                exercise_tab_button.classList.add('tab-button-selected');
                meal_form.classList.add('hide');
                exercise_form.classList.remove('hide');
            }
        });
    </script>
</body>

</html>